body, html{
  font-size: 40px;
}
/* Header */
.header {
  width: 80%;
  margin: 5px auto;
  display: flex;
}

.address{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
}

.address div{
  font-size: 18px;
  margin-bottom: 10px;
}



/* Main */
.main{
  width: 95%;
  margin: 5px auto;
  
}

.main img{
  width: 100%;
  margin: 1rem 0;
}
p{
  text-align: justify;
}

h1, h2{
  margin: 1rem 0;
}

.list{
  list-style-type: disc !important;
  
}

.list li{
  margin: 1rem;
}

.footer{
  background-color: rgb(63, 62, 62);
  color: #fff;
  text-align: center;
  padding: 30px 15px;

}
.foto{
  margin: 350px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: -15px;
}
.iconStyle{
height: 150px;
width: 150px;
margin-top: 35px;
margin-bottom: 35px;
margin-left: 70px;
border-radius: 50%;
}
.tel{
margin-left: 0px;
margin-right: 0px;
margin-top: 15px;
margin-bottom: 0px;


}
.text1{
 font-family:"Palatino Linotype", "Book Antiqua3", "Palatino", serif, Tahoma, Geneva, sans-serif;

}
